* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	margin-left: 60px;
	margin-right: auto;
	max-width: 400px;
}

.frame {
	position: relative;
	width: 400px;
	height: 400px;
	border: 1px solid black;
	margin-top: 60px;
	overflow: hidden;
}

.cards_container {
	position: absolute;
	display: flex;
	/* left: 0px; */
	z-index: -999;
	transition: 0.5s;
}

.cards_container > img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	object-position: center;
}

.triggers {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.triggers > button {
	width: 50px;
	font-size: 40px;
	color: white;
	background-color: black;
	border: none;
	opacity: 0;
	transition: 250ms;
}

.triggers > button:hover {
	opacity: 0.6;
}

.slider_btns {
	position: absolute;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	bottom: 0;
}

.round_btn {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: none;
	background-color: orange;
	font-size: 10px;
	color: white;
	transition: 250ms;
}

.round_btn:hover {
	transform: scale(1.2);
	box-shadow: 0px 0px 5px black;
}

.round_btn.active {
	background-color: blue;
}
