@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: ABeeZee, sans-serif;
}

.web_page {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.content_line {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 153px;
	background-color: #f4f9e2;
	padding: 17px 0 110px 0;
}
.nav_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_menu img {
	width: 118px;
	height: 119px;
	cursor: pointer;
}

.nav_menu .nav_list {
	display: flex;
	justify-content: space-between;
	width: 310px;
	cursor: pointer;
}

.nav_menu .nav_list li {
	list-style-type: none;
}

.nav_menu .nav_menu_button {
	width: 150px;
	height: 50px;
	background-color: #f9b640;
	border: none;
	border-radius: 50px;
	color: white;
	font-family: 'ABeeZee';
	font-size: 14px;
	font-style: italic;
	cursor: pointer;
}

.main_content {
	width: 100%;
	background-color: #f4f9e2;
	padding-bottom: 113px;
}

.main_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 92px;
}

.main_text div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.main_text div p {
	font-size: 24px;
	line-height: 1.773;
	max-width: 570px;
	color: #22356f;
}

.main_text h1 {
	font-size: 48px;
	font-style: italic;
	font-weight: 300;
	letter-spacing: -0.035;
	color: #22356f;
}

.offer {
	background-color: #62d0df;
	position: relative;
	height: 607px;
	padding: 131px 0 150px 0;
}

.offer img {
	position: absolute;
	right: 0;
	top: 0;
	width: 520px;
	height: 607px;
	background-size: cover;
	background-position: center;
}

.offer h2 {
	font-size: 36px;
	letter-spacing: -0.006;
	font-style: italic;
	font-weight: 300;
	color: white;
	margin-bottom: 36px;
}

.offer p {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: white;
	max-width: 586px;
	text-align: justify;
	line-height: 1.478;
}

.slogan {
	height: 633px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.slogan p {
	max-width: 700px;
	font-size: 24px;
	line-height: 1.418;
	letter-spacing: 0.005;
	font-style: italic;
	color: #22356f;
}
.grid_cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.grid_box {
	height: 480px;
	position: relative;
}

.grid_box p {
	position: absolute;
	top: 126px;
	left: 70px;
	max-width: 264px;
	font-size: 32px;
	font-style: italic;
	color: white;
	font-weight: 300;
	line-height: 1.064;
	letter-spacing: -0.006;
}

.grid_box hr {
	position: absolute;
	top: 96px;
	left: 70px;
	width: 340px;
	border: 1px solid white;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: relative; */
	height: 800px;
	/* padding: 242px 0 265px 0; */
}

.footer img {
	/* position: absolute;
	left: 0;
	top: 0; */
	width: 637px;
	height: 800px;
	background-size: cover;
	background-position: center;
	margin-right: 67px;
}

.footer h2 {
	font-size: 36px;
	letter-spacing: -0.006;
	font-style: italic;
	font-weight: 300;
	color: #22356f;
	margin-bottom: 49px;
}

.footer p {
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
	color: #22356f;
	max-width: 676px;
	text-align: left;
	line-height: 1.478;
}
