* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Heebo';
}
.content_line {
	max-width: 682px;
	margin-left: auto;
	margin-right: auto;
}
.design_wrapper {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	padding-bottom: 27px;
}

.design_wrapper h1 {
	max-width: 400px;
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 38px;
}

.year_wrapper {
	display: flex;
	gap: 17px;
	align-items: center;
	margin-bottom: 30px;
}

.year {
	width: 62px;
	height: 25px;
	border-radius: 16px;
	text-align: center;
	background-color: #ff7c7c;
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.year_wrapper p:last-child {
	font-size: 20px;
}

.design_wrapper img {
	width: 680px;
	height: 460px;
	background-color: coral;
}

.design_wrapper .pic1 {
	margin-top: 46px;
	margin-bottom: 70px;
}

.design_wrapper h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 20px;
}

.design_wrapper h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 26px;
}

.design_wrapper .pic2 {
	margin-top: 34px;
	margin-bottom: 27px;
}
