.buttons {
	display: flex;
	justify-content: center;
	margin: 50px;
	display: flex;
	gap: 25px;
	padding: 50px;
	background-color: black;
}

.all_buttons {
	width: 150px;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
}

.all_buttons:hover {
	scale: 1.1;
	transition: ease 0.2s;
}

.red_button {
	background-color: red;
}

.blue_button {
	background-color: blue;
	color: white;
}

.green_button {
	background-color: green;
	color: white;
}
.yellow_button {
	background-color: yellow;
}

.purple_button {
	background-color: purple;
	color: white;
}

.black_square {
	width: 300px;
	height: 300px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}
