* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Heebo';
}
.content_line {
	max-width: 856px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 375px) {
	.content_line {
		max-width: 354px;
		margin-left: auto;
		margin-right: auto;
	}
}
