* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product_container {
	display: grid;
	grid-template-columns: repeat(3, 300px);
}

.product_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin: 25px;
	background-color: orange;
	padding: 25px;
	border-radius: 25px;
	position: relative;
}

.counter {
	display: flex;
	align-items: center;
	gap: 10px;
}

.counter button {
	width: 35px;
	height: 25px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.add_item_button {
	width: 250px;
	padding: 25px;
	background-color: coral;
	font-weight: 700;
	color: white;
	text-align: center;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.remove_bin {
	position: absolute;
	top: 15px;
	right: 15px;
}
