* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Heebo';
}
.content_line {
	max-width: 682px;
	margin-left: auto;
	margin-right: auto;
}

.works_wrapper {
	margin-top: 122px;
	margin-bottom: 53px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

h1 {
	font-size: 44px;
	font-weight: 900;
}

.featured_block {
	display: flex;
	flex-direction: column;
	gap: 43px;
}
.items_wrapper {
	display: flex;
	gap: 18px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 47px;
}

.items_wrapper img {
	max-width: 246px;
	max-height: 180px;
	width: auto;
	height: auto;
	border-radius: 6px;
}
.items_wrapper h3 {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 15px;
}

.block_content {
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.block_content h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
}
.year_tags {
	display: flex;
	gap: 26px;
	align-items: center;
}
.year {
	width: 62px;
	height: 25px;
	border-radius: 16px;
	text-align: center;
	background-color: #142850;
	color: white;
	font-size: 18px;
	font-weight: 700;
}

a .block_content p {
	max-width: 418px;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	color: #21243d;
}

.featured_block h4 {
	font-size: 20px;
	color: #8695a4;
	font-weight: 400;
}

@media (max-width: 375px) {
	.content_line {
		max-width: 344px;
	}
	.items_wrapper {
		flex-direction: column;
		padding-bottom: 17px;
	}
	h1 {
		font-size: 30px;
	}
	.featured_block {
		gap: 22px;
	}
	.block_content {
		gap: 16px;
	}
	.block_content h2 {
		font-size: 24px;
	}
	.block_content div h4 {
		font-size: 16px;
	}
	.year_tags {
		gap: 22px;
	}
	.items_wrapper img {
		max-width: 344px;
	}
}
