* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Heebo';
}
.content_line {
	max-width: 858px;
	margin-left: auto;
	margin-right: auto;
}

.featured_works {
	padding-top: 27px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 83px;
}

.featured_works h3 {
	font-size: 22px;
	font-weight: 400;
}

.featured_block {
	display: flex;
	flex-direction: column;
}

.items_wrapper {
	display: flex;
	gap: 18px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 15px;
	margin-bottom: 31px;
}

.items_wrapper img {
	max-width: 246px;
	height: 180px;
	border-radius: 6px;
}

.block_content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.block_content h2 {
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
}

.year {
	width: 62px;
	height: 25px;
	border-radius: 16px;
	text-align: center;
	background-color: #142850;
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.block_content p {
	max-width: 556px;
	font-size: 16px;
	text-align: left;
}

.featured_block h4 {
	font-size: 20px;
	color: #8695a4;
	font-weight: 400;
}

@media (max-width: 375px) {
	.featured_works {
		align-items: center;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.featured_works h3 {
		font-size: 18px;
	}
	.items_wrapper {
		flex-direction: column;
		align-items: center;
		padding: 0 15px 20px 15px;
		margin-top: 0;
	}
	.items_wrapper img {
		width: 100%;
		object-fit: contain;
		border-radius: 6px;
	}
}
